<div class="well">
  <h3>Here is a mix of <%= [@user1, @user2, @user3].join(', ') %> tweets!</h3>
  
  <% [params[:user1], params[:user2], params[:user3]].each do |user| -%>
    <% if not Twitter.user?(user) and params[:user1] -%>
      <div class="alert alert-error">
        @<%= user %> is not a twitter user!
      </div>
    <% end -%>
  <% end -%>
  
  Displaying <%= @tweets.size %> tweets
  
  <% @tweets.each do |tweet| -%>
    <span title="<%= tweet.user.description %>"><h4><%= link_to '@' + tweet.user.screen_name, 'https://twitter.com/#!/' + tweet.user.screen_name %> <%= tweet.created_at %></h4>
    <p><%= tweet.text %></p></span>
  <% end -%>
</div>
