<div class="span4">
    <div class="well">
      <% if Twitter.user?(@user1) -%>
        <h3>Tweets by @<%= @user1 %></h3>
        
        <% Twitter.user_timeline(@user1, :count => 2).each do |tweet| %>
          <ul>
            <li><%= tweet.created_at %><br/>
            <%= tweet.text %></li>
          </ul>
        <% end -%>
        
      <% else -%>
        <h4>This twitter user does not exist!</h4>
        <%= @user1 %>
      <% end -%>
    </div>
     
  </div>
  
  <div class="span4">
    <div class="well">
      <% if Twitter.user?(@user2) -%>
        <h3>Tweets by @<%= @user2 %></h3>
        <% Twitter.user_timeline(@user2, :count => 2).each do |tweet| %>
          <ul>
            <li><%= tweet.created_at %><br/>
            <%= tweet.text %></li>
          </ul>
        <% end -%>
      <% else -%>
        <h4>This twitter user does not exist!</h4>
        <%= @user2 %>
      <% end -%>
    </div>
  </div>
  
  
  <div class="span4">
    <div class="well">
      <% if Twitter.user?(@user3) -%>
        <h3>Tweets by @<%= @user3 %></h3>
        <% Twitter.user_timeline(@user3, :count => 2).each do |tweet| %>
          <ul>
            <li><%= tweet.created_at %><br/>
            <%= tweet.text %></li>
          </ul>
        <% end -%>
      <% else -%>
        <h4>This twitter user does not exist!</h4>
        <%= @user3 %>
      <% end -%>
    </div>
  </div>
  
  
